/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-variation-settings: "wght" var(--font-weight-text);
  background-color: var(--background-color);
  color: var(--accent-color);
  height: 100vh;
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  width: min(100%, 700px);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  z-index: 1;
  margin: 100px auto;
  padding-block-start: clamp(7.5rem, 7.214rem + 1.429vw, 8.5rem);

}

.title {
  font-family: var(--font-family-accent);
  font-size: clamp(3.063rem, 2.777rem + 1.429vw, 4.063rem);
  text-transform: uppercase;
  text-align: center;
  padding-block-end: 20px;
}

.title__text {
  font-family: var(--font-family-accent);
  font-size: clamp(0.875rem, 0.714rem + 0.804vw, 1.438rem);
  text-transform: uppercase;
  text-align: center;
}

.theme-menu {
  display: flex;
  justify-content: center;
  text-align: start;
  padding: 24px 0 14px;
}

.theme-menu__button {
  background-color: transparent;
  border-style: none;
  font-family: var(--font-family-accent);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 0 10px 22px;
  position: relative;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 4px;
  pointer-events: none;
  animation: slideInFromLeft infinite 0.5s ease-in-out alternate;
 }

 @keyframes slideInFromLeft {
  from {
    left: 0px;
  }

  to {
    left: 4px;
  }
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.content {
  width: min(100%, 696px);
  background-color: transparent;
  z-index: 1;
  margin: 100px auto;
  font-size: 18px;
  font-family: var(--font-family);
}

.content__list {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.content__list-item {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.content__list-card {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  padding: 5px 10px;
}

.card-picture {
 position: relative;
 height: 100%;
}

.picture {
  width: 100%;
  border-block-end: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
  object-fit: cover;
  object-position: center;
}

.picture-filter-saturate {
  filter: saturate(160%);
}

.picture-filter-contrast {
  filter: contrast(50%);
}

.picture-filter-brightness {
  filter: brightness(200%);
}

.picture-filter-opacity {
  filter: opacity(0.5);;
}

.picture-filter-hue-rotate {
  filter: hue-rotate(-50deg);
}

.picture-filter-grayscale {
filter: grayscale(0.9);
}

.picture-filters {
  filter: hue-rotate(120deg) saturate(100%) brightness(210%);
  }

.watermark {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 25px;
  font-family: var(--font-family-accent);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  color: var(--accent-color);
  text-shadow:
    -1px 0 var(--background-color),
   0 1px var(--background-color),
   1px 0 var(--background-color),
   0 -1px var(--background-color);
}

@supports((-webkit-text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .watermark {
      -webkit-text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
}

.card-text {
  padding: 25px 25px 0;
  line-height: 117%;
}

.card-text-memories {
  padding: 27px 25px 0;
  line-height: 117%;
}

.content-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px;
  border-style: none;
  background-color: transparent;
  position: relative;
}

.content-button:focus {
  outline: none;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  height: 38px;
  width: 39px;
  position: relative;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.like-icon {
  position: absolute;
  top: 0;
  left: -2px;
  overflow: visible;
}

.card__like-button {
  margin-inline-start: 5px;
  width: 130px;
  min-height: 38px;
  text-transform: capitalize;
  position: relative;
}

.button {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.button-active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-active:hover::before {
  transform: scaleX(1);
}

.button-active:focus {
  outline: none;
}

.button-active:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.button__text {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 90%;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.footer {
  display: grid;
  position: relative;
  margin-inline: auto;
  margin-block: 50px 100px;
  width: 335px;
  min-height: 55px;
}

.button__footer {
  display: flex;
  align-items: center;
}

.footer__icon {
  width: 21px;
  height: 21px;
  margin-inline-start: 13px;
  mix-blend-mode: difference;
  z-index: 1;
  color: var(--button-text-color);
}

.button__footer-text {
  padding-inline-start: 8px;
}

.dialog {
  width: 353px;
  padding: 30px;
}

.dialog[open] {
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__icon {
  align-self: center;
  color: var(--accent-color);
}

.dialog-text {
  align-self: center;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  font-family: var(--font-family-accent);
  grid-column-start: 1;
  grid-column-end: 3;
  line-height: 90%;
  text-transform: uppercase;
  min-height: 38px;
  color: var(--accent-color);
}

@media (width <= 376px) {

  .card-text {
    padding: 20px 26px 0;
  }

  .watermark {
    top: 20px;
    right: 10px;
  }

  .button__footer {
    flex-direction: column;
    justify-content: center;
    width: 306px;
    min-height: 84px;
    margin-inline: auto;
  }

  .footer__icon {
    width: 28px;
    height: 28px;
    margin-inline-start: 0px;
  }

  .button__footer-text {
    padding-inline-start: 0px;
    padding-block-start: 10px;
  }

  .dialog {
    width: 341px;
  }
}

